# --------------------------------------------------
# Python
# --------------------------------------------------
__pycache__/
*.py[cod]
*.pyo

# --------------------------------------------------
# ModelSim / Questa
# --------------------------------------------------
work/
transcript
vsim.wlf
*.wlf
*.log

# --------------------------------------------------
# Temporary editor files
# --------------------------------------------------
*.bak
*.tmp
*.swp
*~
run.do

# --------------------------------------------------
# Operating System
# --------------------------------------------------
.DS_Store
Thumbs.db